[defaults]
inventory = inventory.ini
roles_path = ./roles
stdout_callback = task_progress
callback_plugins = ./callback_plugins
filter_plugins = ./filter_plugins
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
local_tmp = ./.ansible/tmp
remote_tmp = ./.ansible/remote_tmp
forks = 4
