[defaults]
inventory = inventory.ini
roles_path = {{CWD}}/roles
stdout_callback = task_progress
callback_plugins = {{CWD}}/callback_plugins
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
local_tmp = {{CWD}}/.ansible/tmp
